body{
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100vh;
    background-color: #131A22;
}
h1{
  color: white;
  text-align: center;
  justify-content: center;
}

.principal{
    display: flex;
    flex-direction: column;
}
.principal, .linea1 {
    display: flex;
    margin: 6px;
}

.linea1 img{
    display: flex;
    width: 24px;
    height: 24px;
    margin: 12px;
}
.linea1 p{
    font-size: 0.8rem;
    color: white;
}
.boton1{
    margin-top: 240px;
    margin-left: 30px;
    height: 60px;
    width: 100px;
}
.boton2{
  margin-top: 240px;
  height: 40px;
  background-color: #131A22;
  border: 1px solid white;
  color: white;
  width: 80px;
}

.ppo2 {
  gap: 10px; 
  margin-left: 480px;
  margin-top: -700px;
  
}
.primero{
  display: flex;
  gap: 100px;
}
.segundo{
  display: flex;
  gap: 140px;
  margin-left: -60px;
}

.cohete img{
  width: 480px;
  margin-left: 720px;
  margin-top: -220px;
}


.manometro {
  position: relative;
  width: 150px;
  height: 150px;
  box-sizing: border-box; 
}


.manometro-svg {
  width: 100%;
  height: 100%;
  transform: rotate(270deg);
}

.manometro-ticks line {
  stroke: #FFFFFF;
  stroke-width: 0.5;
}

.manometro-fill {
  fill: none;
  stroke-width: 5;
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
  transition: stroke-dashoffset 0.5s ease;
}

#fill-1, #fill-3 {
  stroke: #FFD700; 
}

#fill-2 {
  stroke: #FF4500; 
}


#fill-4, #fill-5, #fill-6, #fill-7, #fill-8 {
  stroke: #2D8EFF; 
}


.manometro-cover {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #131A22;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
  
}

.manometro-label {
  text-align: center;
}

.manometro-label p {
  margin: 0;
  font-size: 12px;
}

.manometro-label h2 {
  margin: 0;
  font-size: 24px;
}

.manometro-label span {
  font-size: 12px;
}

.connection{
  color: white;
  margin-left: 580px;
}

hr{
  width: 180px;
  margin: 0;
}
