* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(#1A1C48, #4a7cbd);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Espacio alrededor del contenido */
    height: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5d7a9e;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 8px;
}

.logo img {
    width: 120px; /* Ajustado el tamaño del logo */
}

.last-update {
    margin-left: auto; /* Para que se alinee a la derecha */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todos los elementos */
    width: 100%;
    padding: 20px; /* Espacio alrededor de main */
    margin-top: 20px; /* Espacio entre header y main */
    margin-bottom: 10vh;
}

.capsule-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px; /* Espacio interno */
    background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    border-radius: 8px;
    width: 100%; /* Asegura que use el ancho disponible */
    max-width: 600px; /* Limita el ancho máximo */
    margin-bottom: 20px; /* Espacio inferior */
    box-shadow: 0px 0px 10px rgba(15, 15, 15, 0.774);;
}

.launch-list {
    display: flex;
    flex-direction: column; /* Coloca cada lanzamiento en una columna */
    align-items: center; /* Centra elementos dentro de launch-list */
    margin-bottom: 20px; /* Espacio inferior */
}

.details {
    padding: 20px; /* Espacio interno */
    background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    
    border-radius: 8px;
    width: 100%;
    max-width: 600px; /* Limita el ancho máximo */
    text-align: center; /* Centra el texto */
}

.pagination {
    
    display: flex;
    justify-content: center; 
    
}

.page-numbers {
    display: flex;
    gap: 0.5rem; 
}

.page-numbers button {
    background: #0f3460;
    color: white;
    border: none; /* Elimina el borde predeterminado */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Añadir una transición para la transformación */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

.page-numbers button:hover {
    background: #16213e;
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

.page-numbers button:active {
    transform: scale(0.95); /* Reduce el tamaño al hacer clic */
}


.footer {
    background: #0f3460;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.footer ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 2rem;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color--two);
}

.astro img {
    position: absolute;
    left: 10%; 
    top: 55%; 
    max-width: 150px; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    
    .capsule-info, .details {
        max-width: 100%; /* Asegura que ocupe todo el ancho en móviles */
    }
    
    .pagination {
        flex-direction: column;
    }
}
