@import url(../css/variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #0f3460;
    height: 45px;
}

.logo img {
    width: 200px;
}

.last-update {
    align-self: center;
}

main {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.company-info {
    display: flex; /* Mantener el layout en flex */
    width: 60%; /* Mantener el ancho del contenedor */
    justify-content: flex-start; /* Alinear al inicio */
}

.details {
    flex: 1;
}

.content {
    background-color: #0f3460; /* Color de fondo para la sección */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    transition: transform 0.3s; /* Transición suave al pasar el mouse */
}

.content:hover {
    transform: scale(1.02); /* Efecto de aumento al pasar el mouse */
}

.content h2 {
    color: #f0f0f0; /* Color del título */
    margin-bottom: 10px; /* Espaciado inferior */
}

.content p {
    color: #dcdcdc; /* Color del texto */
    margin: 5px 0; /* Espaciado superior e inferior */
    color: black;
}

.content img {
    width: 40%; /* Ancho completo */
    border-radius: 8px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espaciado inferior */
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.info-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-item2 {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 20px;
}

.info-item2 p{
    margin: 0;
}

.cohete img {
    height: auto;
    display: block;
    margin: 0 auto;
}

.pagination {
    display: flex;
    margin-left: 20px; /* Espacio entre el contenido y la paginación */
    width: 100px; /* Ajusta el ancho según sea necesario */
}

.page-button {
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px; /* Espacio entre los botones de paginación */
}

.page-button.active {
    background-color: #0056b3;
}

.page-button:hover {
    background-color: #0056b3;
}

.cohete {
    text-align: center;
    margin: 20px 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    height: auto;
    grid-template-columns: 38px 500px 38px;
    grid-template-areas: ". footer__menu .";
    z-index: 1000; /* para asegurar que el footer quede siempre por encima del contenido */
}

.footer ul {
    grid-area: footer__menu;
    background: var(--color--one);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    height: 55px;
}

.footer ul::after {
    content: "";
    position: relative;
    margin-top: 10px;
    right: -36px;
    bottom: 0;
    width: 0;
    height: 45px;
    border-left: 0px solid transparent;
    border-right: 46px solid transparent;
    border-bottom: 90px solid var(--color--one);
}

.footer ul::before {
    content: "";
    position: relative;
    margin-top: 10px;
    left: -36px;
    bottom: 0;
    width: 0;
    height: 45px;
    border-left: 46px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 90px solid var(--color--one);
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color--two);
}
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .company-info {
        flex-direction: column;
    }

    .details {
        width: 100%;
    }
}
