@import url(../css/variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #0f3460;
    height: 45px;
}

.logo img {
    width: 200px;
}

.last-update {
    align-self: center;
}

main {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    flex: 1;
}

.company-info {
    width: 60%;
    justify-content: flex-start;
}

.details {
    flex: 1;
}

.content {
    background-color: #0f3460;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.content:hover {
    transform: scale(1.02);
}

.content h2 {
    color: #f0f0f0;
    margin-bottom: 10px;
}

.content p {
    color: black;
    margin: 5px 0;
}

.content img {
    width: 40%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.info-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cohete {
    text-align: center;
    margin: 20px 0;
}

.footer {
    background: #0f3460;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative; 
}

.footer ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .company-info {
        flex-direction: column;
    }
}
